{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gray</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/974786e77b.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    /* csrf_token을 ajax에서 사용하기 위해 작성 */
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
  </script>
  <script type="text/javascript">

    window.onload = function () {
      {% if request.resolver_match.url_name == "analysis" %}
      document.getElementById('analysis').setAttribute('class', 'collapse show');
      {% elif request.resolver_match.url_name == "index" %}
      document.getElementById('community').setAttribute('class', 'collapse show');
      {% elif request.resolver_match.url_name == "search" %}
      document.getElementById('community').setAttribute('class', 'collapse show');
      {% elif request.resolver_match.url_name == "create" %}
      document.getElementById('community').setAttribute('class', 'collapse show');
      {% elif request.resolver_match.url_name == "detail" %}
      document.getElementById('community').setAttribute('class', 'collapse show');
      
      {% endif %}
    }

    function community() {
      $.ajax({
        type: "get",
        data: {
          'data': "gg"
        },
        success: function (data) {
          document.getElementById('analysis').setAttribute('class', 'collapse');
          document.getElementById('community').setAttribute('class', 'collapse show');
          window.location.href = "{% url 'community:index' %}"

        }
      })
    }
    function analysis() {
      $.ajax({
        type: "get",
        success: function (data) {
          window.location.href = "{% url 'analysis:analysis' %}"
          document.getElementById('community').setAttribute('class', 'collapse');
          document.getElementById('analysis').setAttribute('class', 'collapse show');
        }
      })
    }

  </script>
  <style>
    ::-webkit-scrollbar {
      display: none;
    }
    .vc_right{
      display: inline-block;
      text-align: right;
      right: 0;
      top: 0;
      padding: 3px 0;
      font-size: 1px;
    }.vc_left{
      display: inline-block;
      text-align: left;
      right: 0;
      top: 0;
      padding: 3px 0;

    }
    .like{
      text-align: center;
    }

    .article_resume{
      margin: 20px;
    }

    .vc_in_right {
    float: none;
    right: 10px;
    bottom: 5px;
  }
  .my-2{
    text-align: right;
  }
  
  </style>
  {% block head %}
  {% endblock %}
</head>

<body class="bg-secondary" style="overflow:visible">

  <!-- 로그인관련 화면, 성현Nav -->
  <div class="#fixed-top">
    <nav class="">
      <ul class="nav bg-white">
        <li class="nav-item bg-secondary">
          <a class="nav-link text-white" href="#" style="font-size: 35px;">JUSTICE</a>
        </li>
        <li class="nav-item" style="align-self: flex-end; font-size: 18px;">
          <a class="nav-link text-secondary" href="https://jasoseol.com/" target="_blank">자소설닷컴</a>
        </li>
        <li class="nav-item" style="align-self: flex-end; font-size: 18px;">
          <a class="nav-link text-secondary" href="https://www.saramin.co.kr/zf_user/" target="_blank">사람인</a>
        </li>
        <li class="nav-item" style="align-self: flex-end; font-size: 18px;">
          <a class="nav-link text-secondary" href="https://www.jobplanet.co.kr/contents" target="_blank">잡플래닛</a>
        </li>
        <li class="nav-item" style="align-self: flex-end; font-size: 18px;">
          <a class="nav-link text-secondary" href="https://www.jobkorea.co.kr/" target="_blank">잡코리아</a>
        </li>
        <div class="mr-4 ml-auto mt-auto">
          <ul class="nav bg-white">
            {% if user.is_authenticated %}
            <li class="nav-item">
              {% if user.profile.image %}
              <img src="{{ user.profile.image.url }}" width="50px" alt="{{ user.profile.image }}">
              {% else %}
              <img class="rounded-circle" src="{% static 'accounts/images/man.jpg' %}" width="50px" alt="">
              {% endif %}
            </li>
            <li class="nav-item ml-3" style="align-self: flex-end; font-size: 18px; font-weight: 500;">
              {% if user.profile.nickname %}
              {{ user.profile.nickname }}
              {% else %}

              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true" style="font-size: 18px;">
                {{ user.username }}
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">로그아웃</a>
                <a class="dropdown-item" href="{% url 'accounts:profile' user.username %}">프로필보기</a>
                <a class="dropdown-item" href="{% url 'accounts:update' %}">개인정보 수정</a>
                <a class="dropdown-item" href="{% url 'accounts:profile_update' %}">프로필 수정</a>
                <a class="dropdown-item" href="{% url 'accounts:delete' %}">회원 탈퇴</a>
              </div>


              {% endif %}
            </li>
            {% else %}
            <li class="nav-item" style="align-self: flex-end; font-size: 18px;">
              <a class="nav-link text-secondary" href="{% url 'accounts:login' %}">로그인</a>
            </li>
            <li class="nav-item" style="align-self: flex-end; font-size: 18px;">
              <a class="nav-link text-secondary" href="{% url 'accounts:signup' %}">회원가입</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </ul>
    </nav>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white " href="#" onclick="analysis()">Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" onclick="community()">Community</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container-fluid">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible">
      {{ message.message }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
    <!-- <div class="row bg-white mt-4 mx-2"> -->
    <div class="row">
      <div class="col-xl-2">
        <div class="bg-white mt-4" style="height:300px; position: sticky; top:00px;">
          <div id="analysis" class="collapse">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item m-1">
                <a class="nav-link active" data-toggle="pill" href="#spell">맞춤법검사</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link" data-toggle="pill" href="#word">단어분석</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link" data-toggle="pill" href="#sentiment">감성분석</a>
              </li>
            </ul>
          </div>
          <div id="community" class="collapse">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item m-1">
                <a class="nav-link active" data-toggle="pill" href="#community1">Home</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link" data-toggle="pill" href="#community2">자소서첨삭</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link" data-toggle="pill" href="#community3">자유게시판</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-10">
        <div class="bg-white mt-4 pb-5" style="height:auto;">
          {% block body %}
          {% endblock %}
        </div>
      </div>

    </div>
  </div>



</body>

</html>