{% extends 'base_accounts1.html' %}
{% load socialaccount %}
{% load bootstrap4 %}
{% block body %}
<h1>로그인</h1>
<form action="" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% buttons %}
        <button type="submit" class="btn btn-primary btn-block" style="font-size: 30px;">
          로그인
        </button>
        {% endbuttons %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        {% buttons %}
        <a href="{% provider_login_url 'kakao' method='oauth2' %}" class="btn btn-warning btn-block" style="font-size: 30px;">카카오 로그인</a>
        {% endbuttons %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        {% buttons %}
        <a href="{% provider_login_url 'google' method='oauth2' %}" class="btn btn-warning btn-block" style="font-size: 30px;">구글 로그인</a>
        {% endbuttons %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        {% buttons %}
        <a href="{% url 'accounts:index' %}" class="btn btn-primary btn-block" style="float:right; font-size: 30px;">back</a>
        {% endbuttons %}
      </div>

      <div class="col-lg-6" style="float: right;">
        {% buttons %}
        <a href="{% url 'accounts:signup' %}" class="btn btn-primary btn-block" style="font-size: 30px;">회원가입</a>
        {% endbuttons %}
      </div>
      
    </div>

  </div>  

</form>
{% endblock %}