{% extends 'base_accounts1.html' %}
{% load bootstrap4 %}
{% block body %}
<h1>회원가입</h1>
<form class="signup" id="signup_form" action="{% url 'accounts:signup' %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  {{ profile_form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div>
    <div style="float: left;">
    {% buttons %}
      <button type="submit" class="btn btn-primary" style="font-size: 30px;">
        회원가입
      </button>
    {% endbuttons %}
    </div>

    <div style="float: right;">
    <a href="{% url 'accounts:index' %}">
      {% buttons %}
      <button type="button" class="btn btn-primary" style="font-size: 30px;">
        back
    </button>
      {% endbuttons %}
    </a>
  </div>

</div>
</form>

{% endblock %}