{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- summernote -->
<link href="{% static 'summernote-0.8.18-dist/summernote-bs4.min.css' %}" rel="stylesheet">
<script src="{% static 'summernote-0.8.18-dist/summernote-bs4.min.js' %}"></script>

{% endblock %}
{% block body %}

{% if request.resolver_match.url_name == 'create' %}
  <h1>글 생성</h1>
{% else %}
  <h1>글 수정</h1>
{% endif %}

<hr>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  <textarea id="resume_article" name="content"></textarea>
        <script>
          $('#resume_article').summernote(

            {
              placeholder: '결과 화면입니다.',
              toolbar: false,
              disableDragAndDrop: true,
              tabsize: 2,
              height: 400,
              focus: true,
            }
          );
        </script>
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
</form>

  <a href="{% url 'community:index' %}">[BACK]</a>

{% endblock %}